import React, { Component, Fragment } from 'react';
import { {{pascalCase name}}Props }  from './{{name}}.props';
import { {{pascalCase name}}State } from './{{name}}.state';
import './{{pascalCase name}}.styles.scss';

export class {{pascalCase name}}Screen extends Component<{{pascalCase name}}Props, {{pascalCase name}}State>{

    // constructor(props: {{pascalCase name}}Props){
    //     super(props);    
    // }

    componentDidMount(){
        console.log('Component did mount'); 
    }

    componentWillUnmount(){
        console.log('Component will unmount');
    }

    render(){
        
        return(
            <Fragment>
                <h1>{{pascalCase name}}</h1>
            </Fragment>
        )
    }
}